*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  overflow: hidden;
}

.titleBar {
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #00FFFF, #000066);
  color: white;
  font-weight: bolder;
  -webkit-app-region:drag;
}

.windowcontroller{
  display: flex;
  -webkit-app-region:no-drag;
}
.windowcontroller .winicon{
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 5px 4px 5px;
}
.titleBar .icon {

}

.titleBar .icon::before {
  content: '';
  width: 22px;
  height: 26px;
  background: url(../assets/iconform.png);
  display: block;
}
 /* .winminimize::before {
  content: '\1F5D5';
}
.winmaximize::before {
  content: '\1F5D6';
}
.winclose::before {
  content: '\2716';
}
.winminimize:hover {
  background:   rgba(255, 255, 255, 0.405);
}

.winmaximize:hover {
  background:  rgba(255, 255, 255, 0.405);
}

.winclose:hover {
  background:  rgba(255, 255, 255, 0.405);
}
*/
.general-container {
  align-items: center;
  display: flex;
  /*  height: 100vh; */
  background-color: #FFFF;
}

.left-container {
  margin: 10px;
  width: 40%;
  padding: 1px 2px 1px 2px;
}
.center-container{
  width: 10%;
  height: 90%;
}
.right-container {
  margin: 10px;
  width: 40%;
  padding: 1px 2px 1px 2px;
}
#intext {
  resize: none;
}
#outtext {
  resize: none;
}
